{% extends 'base.html.twig' %}

{% block title %}Edit Secret{% endblock %}

{% block body %}
    <h1>Edit Secret</h1>

    {{ include('secret/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_secret_index') }}">back to list</a>

    {{ include('secret/_delete_form.html.twig') }}
{% endblock %}
